
@font-face {
    font-family: myfont;
    src: url(font/TT\ Firs\ Neue\ Trial\ ExtraLight.ttf);
    font-style: normal;
    font-weight: 100;
    
}

@font-face {
    font-family: myfont1;
    src: url(font/TT\ Firs\ Neue\ Trial\ Bold.ttf);
    font-style: normal;

}
*{
    border: 0px;
    padding: 0px;
    font-family: myfont;
 
}
html{
    background-color: black;
}

body{
    display: block;
}
.top{
    display: flex;
    background-color: black;
    height: 100px;
    color: white;
}

.logo{
    border-radius: 50%;
    width: 40px;
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 25px;
    position: relative;
    top: -5px;
}



.name{
    margin-left: 10px;
    margin-top: 33px;
}

.b{
    color: white;
    background-color: black;
    text-decoration: none;
    width: 20px;
    border: 1px solid black;
    margin-left: 35px;
 
    

}
.start,.how{
    position: relative;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 80px;
    text-decoration: none;
    color: white;
    
}
.start{
    background-color: #c6ff9d;
    color: black;
}
.start:hover{
    background-color: black;
    color: #c6ff9d;
}
p{
    margin-bottom: 40px;
}
.how{
    position: relative;
    margin-left: 20px;

}
.how:hover{
    color: black;
    background-color: #e6f6c5;
    
}

.b2{
    color: white;
    background-color: black;
    width: 20px;
    border: 2px solid black;
   
}
.bb{
    margin-left: 50px;
}
.b:hover{
    color: #f3ffa6;
}
.buttons{
    align-items: center;
    margin-top: 40px;
    margin-left: 1%;
  

}

.b6{
    margin-left: 250px;
    border: 1px solid white;
    padding: 10px 20px;
    width: 80px;
    border-radius: 100px;
}

.b7{
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 80px;
    background-color: #c6ff9d;
    color: black;
 

}
.b6:hover{
    color: black;
    background-color: #e6f6c5;
}
.b7:hover{
    color: #c6ff9d;
    background-color: black;
}
.f3{
    position: relative;

    height: 100px;
    background-color: black;
}

.bottom{
    background-color: black;
    height: 55vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.image{
    width: 400px;
    height: 400px;
}

.bottom > .content-left{
    width: 70%;
    background-color: black;

}


.bottom > .content-right{
    width: 30%;
    background-color: black;
    justify-content: center;
    position: relative;
    right: 100px;
}


.bottom .text{
    width: 75%;
    height: 75%;
    color: white;
    align-self: flex-end;
    margin: 10px;
    margin-left: 15%;
    justify-content: center;
    

}


.down{
    height: 120px;
    width: 100%;
    background-color: white;
}

.f{
    font-size: xx-large;
    line-height: 2;
    font-weight: bolder;



}

.fs,.ft{
    margin-top:-40px;
}
.ft{
    color: black;

}

body > div.bottom > div.content-left > div > h2.f.ft{
    color: white;
    
}

.para{
    width: 80%;
}


.f3{
    display: flex;

}
.f3f{
    width: 450px;
    height: 50px;
    background-color: #c6ff9d;
    position: relative;
    left: 160px;
    border-radius: 10px;
    line-height: 0.05;
    align-items: center;
}

body > div.bottom > div.content-left > div > h2.f.ft > b{
    background-color: #c6ff9d;
    font-family: myfont;
    color: black;
    font-weight: bolder ;

}

.text1{
    position: relative;
    top: -10px;
    left: 10px;
}
.f3f{
    display: flex;
    position: relative;
    top: 1.5px;
}

.photo1{
    
    position: relative;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid black;
}
.photo1 > .t1{
    position: relative;
    top: -10px;
    left: 5px;

}
body > div.bottom > div.content-left > div > h2.f.fs > b{
    font-family: myfont1;

}

.select{
    position: absolute;
    left: 60px;
    top: 25px;
    font-size: 10px;
}

.f3s{
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #e4ff9e;
    position: relative;
    left: 160px;
    border-radius: 10px;
    line-height: 0.05;
    align-items: center;
    border: 2px solid black;

}

.photo2{

    position: absolute;
    left: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    top: 5px;
    color: white;

}

.t2{
    position: absolute;
    top: -1px;
    left: 13px;
}
.text2,.select2{
    position: relative;
    left: 60px;
}
.select2,.select3{
    font-size: 10px
}

.f3t{
    width: 340px;
    height: 50px;
    background-color: #ffffff;
    position: relative;
    left: 160px;
    top: 1.5px;
    border-radius: 10px;
}
.f3f,.f3s,.f3t{
    height: 60px;
}
.text3{
    position: relative;
    left: 60px;
    top: -11px;

}
.select3{
    position: relative;
    left: 60px;
    top: -29px;

}
.photo3{
    position: absolute;
    left: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    top: 5px;
    color: white;
}
.t3{
    position: relative;
    top: -25px;
    left: 3px;
}

.am7{
    position: relative;
    padding: 10px;
    width: 150px;
    height: 40%;
    background-color: black;
    color: white;
    top: 5px;
    left: 40px;
    border-radius: 100px;


}
.am72{


    padding: 10px 15px;
    background-color: white;
    color:  black;
    position: relative;
    top: 15px;
    border-radius: 50px;
}
.am71{
    position: relative;
    top: 15px;
}

.down{
    display: flex;
}

.leaf{
    width: 60px;
    background-color: #c6ff9d;
    height: 60px;
    position: relative;
    top: 30px;
    left: 40px;
    border-radius: 50px;
    border: 1px solid black;
}
.dt{
    position: relative;
    left: 100px;
    line-height: 0.7;
    font-family: myfont1;
    font-size: 15px;
    top: 20px;
}

.dw{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    left: 200px;
    display: flex;
    top: 20px;

}
.dw1{
    position: relative;
    background-color: #e4ff9e;
    padding: 10px 30px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;


}

.dw2{
    position: relative;
    background-color: #e4e3f7;
    padding: 10px 40px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
    right: 32px;

}
.dw3{
    background-color: #ffeabd;

    padding: 10px 40px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid black;
    margin-left: -65px;
}

.cont{
    position: relative;
    left: 250px;
    top: 40px;
    padding: 10px 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
}
.con1{
    position: relative;
    bottom: 15px;
    font-size: 15px;
}
.inf{
    width: 40px;
    position: relative;
    top: 5px;
    left: 20px;
    
}


.how,.start{
    position: relative;
    top: -30px;
}

.plant{
    position: relative;
    top: -10px;
    left: 100px;
    height: 50px;

}
.people{
    width: 110px;
    height: 60px;
    position: relative;
    left: 300px;
    top: 25px;
}